<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DLAffiliateWiz.Properties.Settings.ACTConnectionString"
            connectionString="Data Source=CTCSERVER\ACT7;Initial Catalog=LAContacts;Persist Security Info=True;User ID=sa;Password=A!q00$000?2350MFF8"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>